<!-- 
   you might want to draw inspiration from 
   https://www.skies.dev/awesome-links 
-->
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{- with .Params.images }}
{{- range first 6 . }}
<meta property="og:image" content="{{ . | absURL }}" />
{{- end }}
{{- end }}
<meta property="og:site_name" content="chepec.se" />
<meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02" }}" />
