{{ partial "header.html" . }}

<div class="container">
   <!-- the following snippet effectively redefines partials/intro.html -->
   <header class="post-header">
      <h1 class="post-title" itemprop="name">404</h1>
   </header>

   <br />
   <h1><p style="text-align: center;">Sorry, the page you requested was not found.</p></h1>
   <br />
   <p style="text-align: center; font-weight: bold;">You can head <a href="{{ .Site.BaseURL }}">back to the homepage</a>.</p>
</div>

{{ partial "footer.html" . }}
